 #fig{
	border-color:black;
	border-style:solid;
	border-width:0px;
	height:55px;
	opacity:.3;
	position:absolute;
	z-index:-10;
}
 #nMessage{
	font-size:13px;
	margin-top:20px;
}
.axes{
}
#body{
	margin:0px;
}
.border{
	border-width:1px;
	border-style:solid;
	border-color:black;
}
.buttons{
	background-color:white;
	cursor:pointer;
	margin-bottom:8px;
	margin-left:2px;
	margin-top:-1px;
	margin:2px;
	padding-bottom:1px;
	padding-top:0px;
	vertical-align:top;
}
#container{
	margin:0px;
}
#cursor{
	border-color:black;
	border-style:solid;
	border-width:0px;
	height:10px;
	position:absolute;
	width:10px;
}
#cursor1{
	background-color:black;
	border-bottom:8px solid yellow;
	border-left:8px solid transparent;
	height:0px;
	position:absolute;
	width:0px;
}
#cursor2{-ms-transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
	/* IE 9 */
	/* Chrome, Safari, Opera */
	background-color:black;
	height:12px;
	margin-left:5px;
	position:absolute;
	transform:rotate(-45deg);
	width:2px;
}
#formattingKey{
	display:inline-block;
	font-size:13px;
	margin-left:5px;
	position:absolute;
}
#formula{
	font-size:12px;
	margin-bottom:2px;
	width:300px;
}
#formulaContainer{
	display:inline-block;
	margin-left:10px;
	vertical-align:top;
}
#generate{
	background-color:rgb(255,235,213);
	font-size:11px;
	margin-top:-1px;
	padding-bottom:2px;
	padding-left:8px;
	padding-right:8px;
	padding-top:1px;
	vertical-align:top;
}
#getSample{
	border-radius:6px;
	border-style:solid;
	font-size:8px;
	margin-left:344px;
	margin-top:-17px;
	padding-left:2px;
	padding-right:2px;
	padding:1px;
	position:absolute;
}
#graph{
	border-color:black;
	border-style:solid;
	border-width:1px;
	display:inline-block;
	height:800px;
	margin-top:4px;
	width:800px;
}
.graphStyle{
	margin-left:10px;
	vertical-align:top;
}
.graphStyleOuter{
	display:none;
}
.hidden{
	display:none;
}
.instructionsBlock{
	margin-bottom:5px;
}
#instructionsButton{
	background-color:rgb(215,255,255);
	border-color:black;
	border-radius:5px;
	border-style:solid;
	border-width:1px;
	color:rgb(0,0,140);
	cursor:pointer;
	font-family:helvetica;
	font-size:10px;
	font-weight:bold;
	margin-left:-17px;
	margin-top:35px;
	padding:2px;
	vertical-align:middle;
}
#instructionsText{
	background-color:rgb(255,255,209);
	border-color:black;
	border-radius:2px;
	border-style:solid;
	border-width:2px;
	height:520px;
	margin-left:370px;
	margin-top:102px;
	padding:5px;
	position:absolute;
	width:350px;
	z-index:300;
}
#leftxNotch{
	margin-left:4px;
}
.limits{
	width:40px;
}
.limitsBox{
	font-size:14px;
	margin-left:18px;
	vertical-align:top;
}
#max{
	margin-left:156px;
}
#min{
	margin-left:102px;
}
.minmax{
	font-size:10px;
	margin-top:5px;
	padding:0px;
	position:absolute;
	vertical-align:top;
}
#msgBox{
	color:red;
	font-size:12px;
	margin-left:0px;
	margin-right:0px;
	margin-top:3px;
	text-align:center;
	vertical-align:top;
}
#npOuter{
	position:absolute;
	margin-left:6px;
}
#optionsContainer{
	display:inline-block;
	margin-left:5px;
	margin-top:-5px;
	vertical-align:top;
}
#pointSize{
	font-size:14px;
	vertical-align:top;
}
#pointSizeInput{
	resize:none;
	width:20px;
}
#secondaryOptionsContainer{
	display:inline-block;
	margin-left:3px;
	text-align:center;
	width:260px;
}
#showAxes{
	vertical-align:top;
}
#showAxesContainer{
	font-size:12px;
	margin-top:4px;
}
.showing{
	display:none;
}
#showN{
	color:red;
}
#styleContainer{
	display:inline-block;
	vertical-align:top;
}
textarea{
	height:12px;
	margin-bottom:3px;
	resize:none;
	vertical-align:top;
}
#timeOuter{
	positon:absolute;
}
#title{
	color:rgb(72,0,0);
	font-family:helvetica;
	font-size:19px;
	margin-bottom:5px;
	padding:3px;
}
#titleOuter{
	/*background-color:black;z-index:-20;width:80px;opacity:.5;*/
}
#topyNotch{
	background-color:white;
	margin-Top:0px;
}
#xAxis{
	background-color:black;
	border-color:black;
	height:1px;
	margin-top:400px;
	position:fixed;
	width:800px;
	z-index:100;
}
#xlabel{
	display:inline-block;
}
.xlabelnum{
	margin-right:372px;
}
.xNotch{
	background-color:black;
	display:inline-block;
	height:9px;
	margin-left:9px;
	margin-top:-4px;
	position:relative;
	vertical-align:top;
	width:1px;
}
#yAxis{
	background-color:black;
	border-color:black;
	height:800px;
	margin-left:400px;
	position:absolute;
	width:1px;
	z-index:100;
}
#ylabel{
	display:inline-block;
	vertical-align:top;
}
.ylabelnum{
	margin-bottom:380px;
}
.yNotch{
	background-color:black;
	height:1px;
	margin-left:-4px;
	margin-top:9px;
	width:9px;
}